.container {
    width: 100%;
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

/* banner */
.banner{
    background-image: url(./img/main-banner-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:92vh;
}


<h2 class="text-2xl font-semibold border-b-2 w-[210px] py-2 border-red-600">Deal of the Week</h2>